@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
    --dark-grayish-violet: hsl(270, 7%, 64%);
    --desaturate-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --moderate-violet: hsl(276, 55%, 52%);
    --pale-violet: hsl(276, 100%, 81%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--light-grayish-violet);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    min-height: 100vh;
	width: 100%; 
}

.description {
    height: 120px;
    line-height: 2.5;
    position: absolute;
    right: 280px;
    top: 225px;
    width: 380px;
}

.booking {
    color: var(--very-dark-desaturated-violet);
    font-size: 35px;
    font-weight: 600;
}

.paragraph {
    color: var(--dark-grayish-violet);
    line-height: 1.5em;
}

.background-one {
    background: linear-gradient(var(--light-magenta), var(--light-violet));
    border-radius: 0 0 225px 225px;
    height: 583px;
    margin-left: -100px;
    margin-top: -10px;
    width: 450px;
}

.background-two {
    background: var(--grayish-blue);
    opacity:0.2;
    border-radius: 225px 225px 0 0;
    height: 583px;
    margin-left: 1050px;
    margin-top: -500px;
    width: 450px;
}

.mobile {
    background-color: var(--light-grayish-violet);
    border: 7px solid var(--white);
    border-radius: 25px;
    box-shadow: 0 10px 20px var(--grayish-blue);
    height: auto;
    margin-left: 290px;
    margin-top: -535px;
    width: 250px;
}

.user {
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta));
    border-radius: 20px 20px 5px 5px;
    height: 60px;
}

.user::before {
    background-color: var(--white);
    border-radius: 0px 0px 12px 12px;
    content: " ";
    height: 18px;
    left: 352px;
    position: absolute;
    width: 120px;
}

.user-details {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px;
}

.chevron {
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 0px;
    opacity: 0.8;
    position: relative;
}

.chevron::before {
    background-color: var(--white);
    content: " ";
    height: 5px;
    left: 0px;
    position: absolute;
    top: -5px;
    transform: skew(-28deg, 0deg);
    width: 2px;
}

.chevron::after {
    background-color: var(--white);
    content: " ";
    height: 5px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: skew(28deg, 0deg);
    width: 2px;
}

.avatar img {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 25px;
    margin-right: 10px;
    margin-top: 2px;
    width: 25px;
}

.name {
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: -2px;
}

.status {
    color: var(--white);
    font-size: 9px;
    opacity: 0.7;
}

.dots {
    background-image: radial-gradient(circle, var(--white) 1px, transparent 1.2px);
    background-size: 100% 33.33%;
    height: 10px;
    margin-left: 205px;
    opacity: 0.8; 
    position: absolute;
    width: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    padding: 8px 3px 8px;
}

.text-one {
    background: var(--grayish-blue);
    border-bottom-left-radius: 3px;
    border-radius: 12px 12px 12px 3px;
    color: var(--moderate-violet);
    margin-left: 5px;
    margin-bottom: 8px;
    padding: 8px 10px 8px 12px;
    max-width: 60%;
}

.images {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.images img {
    border-radius: 12px;
    padding: 5px;
    width: 40px;
}

.text-two {
    align-items: flex-end;
    background: var(--white);
    border-radius: 12px 12px 3px 12px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);
    color: var(--desaturate-dark-violet);
    display: flex;
    margin-bottom: 8px;
    margin-left: 87px;
    max-width: 60%;
    padding: 5px 8px 5px 10px;
    width: fit-content;
}

.text-three {
    align-items: flex-end;
    background: var(--white);
    border-radius: 12px 12px 3px 12px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);
    color: var(--desaturate-dark-violet);
    display: flex;
    margin-bottom: 8px;
    margin-left: 134px;
    max-width: 60%;
    padding: 5px 8px 5px 10px;
    width: fit-content;
}

.offers {
    border-radius: 12px;
}

.offer {
    align-items: center;
    background: linear-gradient(to left, var(--light-violet), var(--light-magenta));
    border-radius: 12px 12px 12px 3px;
    color: var(--dark-grayish-violet);
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-bottom: 8px;
    margin-left: 5px;
    max-width: 75%;
    padding: 5px 8px 5px 10px;
}

.offer::before {
    border: 1px solid var(--white);
    border-radius: 50%;
    content: " ";
    height: 12px;
    margin-left: -4px;
    opacity: 0.6;
    position: absolute;
    width: 12px;
}

.time {
    color: var(--white);
    margin-left: 28px;
}

.money-one {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
}

.money-two {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    margin-left: 48px;
}

form {
    display: inline-flex;
    margin: 5px 8px 1px 1px;
}

input {
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 25px;
    color: var(--grayish-blue);
    font-size: 12px;
    justify-content: center;
    height: 10px;
    padding: 14px 25px 11px;
    width: 100%;
}

.round {
    background: var(--very-dark-desaturated-violet);
    border-radius: 50%;
    height: 20px;
    margin-top: 3.2px;
    margin-left: -25px;
    opacity: 0.9;
    padding: 3px 11px;
    width: 15px;
}

.arrow {
    margin-right: 20px;
    margin-top: 7px;
    opacity: 0.8;
    position: relative;
}

.arrow::before {
    background-color: var(--white);
    content: " ";
    height: 5px;
    left: 0px;
    position: absolute;
    top: -5px;
    transform: skew(50deg, 0deg);
    width: 2px;
}

.arrow::after {
    background-color: var(--white);
    content: " ";
    height: 5px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: skew(-50deg, 0deg);
    width: 2px;
}