* {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    max-height: 800px;
    max-width: 1440px;
    padding: 0px;
}

#content {
    background-color: hsl(0, 0%, 100%);
    bottom: 0;
    justify-content: space-between;
    height: 800px;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1440px;
}


.rec_radL {
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0px 0px 400px 400px;
    height: 700px;
    left: -69px;
    position: absolute;
    width: 490px;
}

#phone {
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 18px 10px 70px hsl(268, 16%, 84%);
    height: 490px;
    left: 363px;
    position: relative;
    top: 150px;
    width: 230px;
    z-index: 1;
}

#phone>#screen {
    background-color: hsl(270, 20%, 96%);
    height: 490px;
    width: 231px;
    border-radius: 20px;
}

#screen > #camFront {
    background-color: hsl(0, 0%, 100%);
    bottom: 9px;
    border-radius: 20px;
    height: 28px;
    left: 54px;
    position: relative;
    width: 132px;
    z-index: 1;
}

#toWalk {
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 20px 20px 0px 0px;
    bottom: 29px;
    box-shadow: 0px 2px 10px rgba(200, 200, 200, 0.8);
    height: 65px;
    margin-bottom: 0px;
    position: relative;
    width: 231px;
}

#toWalk .arrow {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 23px;
    position: relative;
    top: 32px;
}

#avatar {
    left: 35px;
    position: relative;
    top: 12px;
}

#avatar img {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    display: block;
    height: auto;
    width: 22px;
}

#toWalk h2 {
    bottom: 18px;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    left: 65px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
}

#toWalk p {
    bottom: 18px;
    color: hsl(276, 100%, 81%);
    font-size: 10px;
    left: 70px;
    position: relative;
}

#toWalk .deg {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    left: 220px;
    position: relative;
    top: 75px;
    transform: translate(-50%, -50%) rotate(90deg);
}

#screen .chat1 {
    background-color: hsl(0, 0%, 90%);
    border-radius: 15px 10px 10px 0px;
    color: hsl(276, 55%, 52%);
    height: auto;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    top: -10px;
    width: 130px;
}

#screen .chat2 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 0px 10px;
    color: hsl(271, 15%, 43%);
    height: auto;
    left: 80px;
    margin-bottom: 5px;
    margin-left: 10px;
    max-width: 130px;
    min-width: 80px;
    position: relative;
}

#screen .p2 {
    left: 120px;
    width: 90px;
}

#screen .p3 {
    top: 0.2px;
}

.chat1 p,
.chat2 p {
    font-size: 8px;
    padding: 10px;
}

#dog {
    left: 90px;
    margin-bottom: 5px;
    position: relative;
}

#dog img {
    border-radius: 10px;
    height: auto;
    width: 40px;
}

.walk {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 0px;
    height: 33px;
    margin: 5px;
    width: 160px;
}

.walk .circleText {
    border: 0.1px dotted hsl(289, 100%, 72%);
    border-radius: 100%;
    height: 10px;
    left: 10px;
    top: 10px;
    position: relative;
    width: 10px;
}

.walk p {
    bottom: 12px;
    color: #FFBFFF;
    font-size: 10px;
    left: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    position: relative;
}

.walk .price {
    bottom: 45px;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: bold;
    left: 110px;
    position: relative;
}

#type {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: 35px;
    left: 9px;
    top: 10px;
    position: relative;
    width: 210px;
}

#type p {
    color: hsl(206, 6%, 79%);
    font-size: 10px;
    left: 10px;
    position: relative;
    top: 10px;
}

#arrowBlack {
    background: hsl(271, 36%, 24%);
    border-radius: 100%;
    bottom: 5px;
    height: 25px;
    left: 175px;
    position: relative;
    top: -6px;
    width: 25px;
}

#arrowBlack p {
    color: hsl(0, 0%, 100%);
    font-family: fantasy;
    font-size: 18px;
    font-weight: bold;
    left: 1px;
    text-align: center;
    top: 1px;
    position: relative;
}

#center {
    background-color: transparent;
    bottom: 290px;
    height: 200px;
    left: 735px;
    position: absolute;
    width: 470px;
    z-index: 1;
}

#center h1 {
    color: hsl(271, 36%, 24%);
    font-size: 39px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#center p {
    color: hsl(270, 7%, 64%);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
}

.attribution {
    position: relative;
    top: 270px;
}

.rec_radR {
    background-image: linear-gradient(hsl(264, 33%, 97%), hsl(290, 43%, 97%));
    border-radius: 400px 0px 0px 0px;
    height: 700px;
    right: -1px;
    top: 114px;
    position: absolute;
    width: 303px;
}

@media(max-width: 1398px) {

    #content {
        background-color: hsl(0, 0%, 100%);
        bottom: 0;
        justify-content: space-between;
        height: 800px;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        width: 1398px;
    }

    .rec_radL {
        left: -69px;
        height: 700px;
        position: absolute;
        width: 490px;
    }

    .rec_radR {
        height: 700px;
        margin-bottom: 0px;
        position: absolute;
        right: -1px;
        top: 114px;
        width: 303px;
    }
}

@media(max-width: 1200px) {

    #content {
        height: 800px;
        margin-bottom: 0px;
    }

    #center {
        background-color: transparent;
        left: 650px;
        top: 310px;
        z-index: 1;
    }

    #phone {
        left: 263px;
    }

    .rec_radL {
        left: -170px;
    }

    .rec_radR {
        right: 10px;
    }
}


@media(max-width: 1120px) {

    #center {
        background-color: transparent;
        left: 550px;
        margin-bottom: 50px;
        position: absolute;
        top: 310px;
        z-index: 1;
    }

    #phone {
        left: 203px;
    }

    .rec_radL {
        left: -150px;
    }

    .rec_radR {
        right: 10px;
    }

    .attribution {
        position: relative;
        right: 110px;
    }
}

@media(max-width: 1020px) {

    #center {
        background-color: transparent;
        height: 300px;
        margin-bottom: 50px;
        left: 550px;
        position: absolute;
        top: 310px;
        width: 420px;
        z-index: 1;
    }
}


@media(max-width: 980px) {

    #center {
        height: 300px;
        position: absolute;
        width: 320px;
    }

    .rec_radL {
        height: 500px;
        left: -270px;
    }

    #phone {
        left: 63px;
        top: 80px;
    }

    .rec_radR {
        display: none;
    }
}


@media(max-width: 890px) {

    #center {
        left: 470px;
        position: absolute;
        top: 310px;
    }

    .rec_radL {
        height: 500px;
        left: -270px;
    }

    #phone {
        left: 63px;
        top: 80px;
    }

    .attribution {
        position: relative;
        right: 80px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 800px) {


    #phone {
        left: 303px;
        top: 250px;
    }

    .rec_radL {
        height: 700px;
        left: -69px;
        position: absolute;
        width: 490px;
    }

    #center {
        background-color: transparent;
        height: 300px;
        left: 170px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 950px;
        width: 440px;
        z-index: 1;
    }

    .rec_radR {
        display: none;
    }


    .attribution {
        position: relative;
        right: 340px;
        top: 750px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 785px) {

    #center {
        left: 370px;
        position: absolute;
        top: 310px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 784px) {
   
    #phone {
        left: 303px;
        top: 250px;
    }

    .rec_radL {
        height: 700px;
        left: -69px;
        position: absolute;
        width: 490px;
    }
    
    #center {
        background-color: transparent;
        height: 300px;
        left: 170px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 950px;
        width: 440px;
        z-index: 1;
    }

    .rec_radR {
       display: none;
    }


    .attribution {
        position: relative;
        right: 340px;
        top: 750px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 768px) {

    #phone {
        left: 303px;
        top: 250px;
    }

    .rec_radL {
        height: 700px;
        left: -69px;
        position: absolute;
        width: 490px;
    }

    #center {
        background-color: transparent;
        height: 300px;
        left: 170px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 950px;
        width: 440px;
        z-index: 1;
    }

    .rec_radR {
        display: none;
    }


    .attribution {
        position: relative;
        right: 340px;
        top: 750px;
    }

    .rec_radR {
        display: none;
    }
}


@media(max-width: 614px) {
    #center {
        background-color: transparent;
        height: 300px;
        left: 120px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 850px;
        width: 420px;
        z-index: 1;
    }

    .attribution {
        position: relative;
        right: 410px;
        top: 650px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 568px){

    #content {
        height: auto;
        max-width: 568px;
        overflow-x: hidden;
    }

    .rec_radL {
        height: 500px;
        left: -270px;
    }

    #phone {
        left: 93px;
        top: 80px;
    }

    #center {
        background-color: transparent;
        height: 300px;
        left: 100px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 650px;
        width: 340px;
        z-index: 1;
    }

    .attribution {
        position: relative;
        right: 450px;
        top: 450px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 415px) {

    .rec_radL {
        height: 500px;
        left: -270px;


    }

    #phone {
        left: 63px;
        top: 80px;
    }

    #center {
        background-color: transparent;
        height: 300px;
        left: 45px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 650px;
        width: 340px;
        z-index: 1;
    }

    .attribution {
        position: relative;
        right: 510px;
        top: 450px;
    }

    .rec_radR {
        display: none;
    }
}

@media(max-width: 375px) {
    #content {
        height: auto;
        overflow-x: hidden;

    }

    .rec_radL {
        height: 500px;
        left: -270px;
    }

    #phone {
        left: 63px;
        top: 80px;
    }

    #center {
        background-color: transparent;
        height: 300px;
        left: 15px;
        margin-bottom: 50px;
        position: absolute;
        text-align: center;
        top: 650px;
        width: 340px;
        z-index: 1;
    }

    .attribution {
        position: relative;
        right: 10px;
        top: 450px;
    }

    .rec_radR {
        display: none;
    }
}

#msj1 {
    animation: chatLive2 1s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#msj2 {
    animation: chatLive2 3s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#dog {
    animation: chatLive3 6s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive3 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#msj3 {
    animation: chatLive2 8s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#msj4 {
    animation: chatLive2 10s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#msj5 {
    animation: chatLive2 12s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.msj6 {
    animation: chatLive2 14s linear;
    opacity: 1;
    transition: all;
}

@keyframes chatLive2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}