@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-Cyan: hsl(171, 66%, 44%);
  --light-Blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    color: var(--dark-grayish-blue);
}

p {
    color: var(--grayish-blue);
}

.top-container {
    background-image: url(../images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 90px;
    place-items: center;
    text-align: center;
    width: 80%;
}

.content p {
    text-align: center;
    margin-bottom: 10px;
    width: 700px;
}

.download-click {
    padding-bottom: 30px;
}

.download-click button {
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
    padding: 20px 77px;
}

.download-click button:first-child {
    background-color: var(--strong-Cyan);
}

.download-click button:last-child {
    background-color: var(--light-Blue);
}

.features {
    margin: 0 auto;
    width: 50%;
}

.feature-box {
    column-gap: 25px ;
    display: grid;
    grid-template-columns: 55% 45%;
}

.computer-features {
    padding: 60px 0;
}

.features h2 {
    margin-bottom: 10px;
    text-align: center;
}

.features p {
    margin-bottom: 30px;
    text-align: center;
}

.feature-text {
    display: grid;
    grid-template-columns: 1fr;
    height: 50px;
    margin-top: 75px;
    place-items: center;
    width: 450px;
}

.text h2,
.text p {
    text-align: left;
}

.text p {
    margin-bottom:50px;
}

.computer-image img {
    margin-left: -360px;
    margin-top: 30px;
    width: 190%;
}

.device-features {
    padding: 50px 0;
}

.more-features {
    margin: 0 auto;
    width: 55%;
}

.more-features h2,
.more-features p {
    margin-bottom: 20px;
    text-align:center;
}

.device-image img {
    margin: 30px 0;
    width: 100%;
}

.other-features {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: repeat(3, 400px);
    margin-left: -275px;
    margin-top: 3em;
    text-align: center;
}

.image-text img {
    margin-bottom: 20px;
}

.user-container {
    padding: 70px 0;
}

.users {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.download-two {
    padding: 70px 0;
}

.download-text {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.download-text p {
    margin: 20px 0;
    margin-left: 220px;
    width: 650px;
}

.download-click button {
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 12px;
    outline: none;
    padding: 20px 77px;
}

.download-click button:first-child {
    background-color: var(--strong-Cyan);
}

.download-click button:last-child {
    background-color: var(--light-Blue);
}

footer {
    background-color: whitesmoke;
    padding-top: 50px;
}

.bottom-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 60px;
}

.bottom-logo img {
    height: 70px;
    margin-bottom: 40px;
}

.bottom-item:last-child {
    display: grid;
    grid-template-columns: repeat(3, 60px);
}

.bottom-item span img {
    cursor: pointer;
}

.bottom-item p {
    color: hsla(0, 1%, 19%, 0.76);
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10%;
}

.paragraph {
    margin-bottom: 40px;
}