@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

.main {
    background-image: url(../images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainwrap {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 90px;
    place-items: center;
    text-align: center;
    width: 80%;
}

.mainbuttons {
    padding-bottom: 30px;
}

.mainbuttons button {
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    outline: none;
    padding: 20px 77px;
}

.mainbuttons button:first-child {
    background-color: hsl(171, 66%, 44%);
}

.mainbuttons button:last-child {
    background-color: hsl(233, 100%, 69%);
}

.features {
    padding: 70px 0;
}

.featureswrap {
    margin: 0 auto;
    width: 80%;
}

.featureswrap h2,
p {
    text-align: center;
    margin-bottom: 10px;
}

.featureflex {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: 60px;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
}

.featuretext {
    margin-bottom: 30px
}

.featureimage img {
    margin-top: 30px;
    width: 300px;
}

.morefeatures {
    padding: 50px 0;
}

.morefeatureswrap {
    margin: 0 auto;
    width: 80%;
}

.morefeatures h2,
p {
    margin-bottom: 20px;
    text-align: center;
}

.morefeaturesimg img {
    margin: 30px 0;
    width: 100%;
}

.morefeaturesgrid {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
}

.morefeature img {
    margin-bottom: 20px;
}

.users {
    padding: 70px 0;
}

.userswrap {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-gap: 70px;
    grid-template-columns: 1fr;
    place-items: center;
}

.download {
    padding: 70px 0;
}

.downloadwrap {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.downloadwrap p {
    margin: 20px 0;
}

.downloadbuttons button {
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 12px;
    outline: none;
    padding: 20px 77px;
}

.downloadbuttons button:first-child {
    background-color: hsl(171, 66%, 44%);
}

.downloadbuttons button:last-child {
    background-color: hsl(233, 100%, 69%);
}

footer {
    background-color: whitesmoke;
    padding-top: 70px;
}

.footerwrap {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.footerlogo img {
    height: 70px;
    margin-bottom: 20px;
}

.footeritem:last-child {
    margin: 20px 0;
}

.footeritem p .footer-item span img {
    cursor: pointer;
}

.footeritem p:hover {
    color: hsl(171, 66%, 44%);
}

.footeritem span img:hover {
    background-color: hsl(171, 66%, 44%);
}

.para {
    margin-bottom: 40px;
}

@media only screen and (min-width:1090px) {

    .main{
        background-image: url(../images/bg-header-mobile.png);
    }
    
    .mainwrap {
        width: 50%;
    }

    .featureswrap {
        margin: 0 auto;
        width: 60%;
    }


    .featureflex {
        grid-gap: 170px;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .featuretext {
        margin-top: 70px
    }

    .featureimage img {
        height: 400px;
        left: -160px;
        position: absolute;
        top: 40px;
        width: 600px;
    }

    .morefeatureswrap {
        margin: 0 auto;
        width: 60%;
    }


    .morefeaturesgrid {
        grid-gap: 60px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .morefeature img {
        margin-bottom: 20px;
    }

    .userswrap {
        grid-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
    }

    .downloadwrap {
        width: 60%;
    }

    .downloadwrap p {
        margin: 40px 0;
    }

    .footerwrap {
        grid-template-columns: repeat(5, 1fr);
    }

    .footeritem:nth-child(4) {
        margin-top: -45px;
    }
}