* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
  }
  
  :root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
  }
  
  header {
    width: 100vw;
    height: auto;
    padding: 80px 75px 80px 65px;
    display: flex;
    justify-content: space-between;
  }
  
  header .butoon-head {
    border: 1px solid var(--light-pink);
    background: white;
    color: var(--light-pink);
    padding: 10px 30px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  
  header .butoon-head:hover {
    opacity: 0.7;
  }
  
  .intro {
    width: 100vw;
    height: auto;
    padding: 150px 215px;
  }
  
  .intro .info-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .intro .info-text h1 {
    font-weight:700;
    font-size: 61px;
  }
  
  .intro .info-text p {
    padding: 50px 280px;
    font-size: 24px;
    color: #9ea3a7;
  }
  
  .intro .info-text .button-intro {
    border: none;
    color: var(--very-pale-blue);
    background: var(--pink);
    font-weight: 700;
    padding: 30px 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  
  .intro .info-text .button-intro:hover {
    opacity: 0.7;
  }
  
  .intro .image-intro {
    padding: 110px 100px;
  }
  
  .intro .image-intro img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .intro .info-num {
    display: flex;
    justify-content: space-between;
  }
  
  .intro .info-num h2 {
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 122px;
  }
  
  .intro .info-num p {
    color: #9ea3a7;
    font-size: 33px;
  }
  
  .sec-features {
    width: 100vw;
    height: auto;
  }
  
  .sec-features .features {
    display: flex;
    justify-content: space-between;
    padding: 10px 130px;
    margin: 200px 0;
    position: relative;
  }
  
  .sec-features .features:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  .sec-features .features:not(:nth-child(2)) {
    background: var(--very-pale-blue);
  }
  
  .sec-features .features:first-child::before {
    content: "";
    background: url(../images/bg-section-top-desktop-1.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 0;
  }
  
  .sec-features .features:first-child::after {
    content: "";
    background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: -100px;
    left: 0;
  }
  
  .sec-features .features:last-child::before {
    background: url(../images/bg-section-top-desktop-2.svg) no-repeat;
    background-size: cover;
    content: "";
    width: 100vw;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 0;
  }
  
  .sec-features .features:last-child::after {
    background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat;
    background-size: cover;
    content: "";
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: -100px;
    left: 0;
  }
  
  .sec-features .features .text {
    width: 500px;
    height: auto;
    padding-top: 150px;
  }
  
  .sec-features .features .text h2 {
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 44px;
  }
  
  .sec-features .features .text p {
    color: #9ea3a7;
    font-weight: 600;
    padding-top: 40px;
  }
  
  .sec-features .features .image {
    width: 657px;
    height: 543px;
  }
  
  .sec-features .features .image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .dawnloud {
    width: 100vw;
    height: auto;
    padding: 0 500px;
    text-align: center;
  }
  
  .dawnloud h2 {
    color: var(--very-dark-cyan);
    font-size: 32px;
    padding-bottom: 50px;
  }
  
  .dawnloud button {
    font-weight: 600;
    border: none;
    color: white;
    background: var(--pink);
    padding: 30px 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  
  .dawnloud button:hover {
    opacity: 0.7;
  }
  
  .footer {
    width: 100vw;
    height: auto;
    margin-top: 250px;
    padding: 100px 115px;
    background: var(--very-dark-cyan);
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .footer::before {
    content: "";
    width: 100vw;
    height: 100px;
    background: url(../images/bg-footer-top-desktop.svg) no-repeat;
    background-size: cover;
    position: absolute;
    top: -100px;
    left: 0;
  }
  
  .footer .info {
    width: 330px;
  }
  
  .footer .info .text {
    color: #9ea3a7;
  }
  
  .footer .info .text .pfooter {
    color: var(--very-pale-blue);
    padding: 30px 0 10px;
  }
  
  .footer .info .text .phone,
  .footer .info .text .email {
    display: flex;
    margin: 20px 0;
  }
  
  .footer .info .text .phone p,
  .footer .info .text .email p {
    padding-left: 20px;
  }
  
  .footer .info .icon {
    margin-top: 50px
  }
  
  .footer .info .icon svg {
    fill: #ffffff;
  }
  
  .footer .info .icon svg:hover {
    fill: #00e1ff;
  }
  
  .footer .input {
    width: 540px;
    color: var(--very-pale-blue);
  }
  
  .footer .input h3 {
    font-weight: 700;
    font-size: 32px;
  }
  
  .footer .input p {
    padding: 30px 150px 40px 0;
  }
  
  .footer .input .input-email {
    padding: 10px 100px;
  }
  
  .footer .input .input-email:focus-visible {
    outline: 2px solid var(--light-red);
  }
  
  .footer .input .submit {
    border: none;
    color: white;
    background: var(--pink);
    font-weight: 700;
    padding: 15px 40px;
    margin-left: 29px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .footer .input .submit:hover {
    opacity: 0.7;
  }
  
  @media (max-width: 767px) {
    header {
      padding: 80px 25px;
    }
    header .butoon-head {
      padding: 10px;
    }
    .intro {
      padding: 150px 25px;
    }
    .intro .info-text h1 {
      font-size: 30px;
    }
    .intro .info-text p {
      padding: 50px 0;
    }
    .intro .image-intro {
      padding: 110px 0;
    }
    .intro .info-num {
      flex-direction: column;
    }
    .intro .info-num .data {
      padding: 30px 80px;
      text-align: center;
    }
    .intro .info-num h2 {
      font-size: 78px;
    }
    .intro .info-num p {
      font-size: 18px;
    }
    .sec-features .features {
      flex-direction: column-reverse;
      padding: 10px 25px;
    }
    .sec-features .features:nth-child(2) {
      flex-direction: column-reverse;
    }
    .sec-features .features:first-child::before {
      content: "";
      background: url(../images/bg-section-top-mobile-1.svg) no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100px;
      position: absolute;
      top: -100px;
      left: 0;
    }
    
    .sec-features .features:first-child::after {
      content: "";
      background: url(../images/bg-section-bottom-mobile-1.svg) no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100px;
      position: absolute;
      bottom: -100px;
      left: 0;
    }
    
    .sec-features .features:last-child::before {
      background: url(../images/bg-section-top-mobile-2.svg) no-repeat;
      background-size: cover;
      content: "";
      width: 100vw;
      height: 100px;
      position: absolute;
      top: -100px;
      left: 0;
    }
    
    .sec-features .features:last-child::after {
      background: url(../images/bg-section-bottom-mobile-2.svg) no-repeat;
      background-size: cover;
      content: "";
      width: 100vw;
      height: 100px;
      position: absolute;
      bottom: -100px;
      left: 0;
    }
    .sec-features .features .text {
      width: 350px;
      padding-top: 100px;
    }
    .sec-features .features .text h2 {
      font-size: 26px;
      text-align: center;
    }
    .sec-features .features .text p {
      text-align: center;
    }
    .sec-features .features .image {
      width: 350px;
      height: 287px;
    }
    .dawnloud {
      padding: 0 75px;
    }
    .dawnloud h2 {
      font-size: 22px;
      text-align: center;
    }
    .dawnloud button {
      padding: 20px 30px;
    }
    .footer {
      padding: 100px 25px;
      flex-direction: column-reverse;
    }
    .footer .input {
      width: 350px;
      margin-bottom: 50px;
    }
    .footer .input p {
      padding: 30px 0 40px;
    }
    .footer .input .input-email {
      padding: 10px 80px;
      margin-bottom: 30px;
    }
    .footer .input .submit {
      margin-left: 175px;
    }
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }